* {
    margin: 0;
}

@font-face {
    font-family: 'brandon-blk';
    src: url('../font/Brandon_blk.otf');
    font-style: normal;
}

@font-face {
    font-family: 'brandon-reg';
    src: url('../font/Brandon_reg.otf');
    font-style: normal;
}

@font-face {
    font-family: 'brandon-bld';
    src: url('../font/Brandon_bld.otf');
    font-style: bold;
}

@font-face {
    font-family: 'brandon-med';
    src: url('../font/Brandon_med.otf');
    font-style: medium;
}

@font-face {
    font-family: 'brandon-light';
    src: url('../font/Brandon_light.otf');
    font-style: normal;
}

#headerNB {
    margin-top: 20px;
    height: 80px;
    margin-bottom: 10vh;
}

.header_response {
    display: none;
}

.headerNB {
    display: flex;
    width: 100%;
    position: relative;
    padding-bottom: 0%;
    z-index: 100;
}

.logo_header {
    width: 30%;
    margin-top: 5px;
}

.logo_header img {
    width: 300px;
    position: absolute;
}

.NB_css {
    margin-top: 0.27%;
    width: 100%;
    height: 90px;
    margin-left: 0;
}

.NB_css ul {
    padding: 0;
    margin-left: -0.5%;
    margin-right: 2px;
    list-style: none;
}

.NB_css ul li {
    float: left;
    margin-right: 2%;
}

.NB_css ul li a:hover {
    color: white;
    background-color: black;
    height: 90%;
    transition: 0.3s;
}

.NB_css .current {
    color: white;
    background-color: black;
    height: 90%;
    transition: 0.3s;
}

.NB_css ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 36px;
    font-family: brandon-bld;
    color: #1e1e1e;
    padding: 5px;
}

#nbPhone {
    display: none;
}

#hamburgerNb {
    display: none;
}

.headerLogo {
    width: 50%;
}

.headerLogo img {
    width: 80%;
    padding-left: 10px;
}

#navbar-toggler {
    background-color: #2f3c43;
}

#navbar-brand {
    width: 50%;
}

#navbar-nav {
    padding-top: 20px;
}

#navbar-nav li {
    padding-right: 15px;
}

.text-navbar {
    color: black;
    padding-top: 5px;
}

.center-text {
    text-align: center;
}

.footerText {
    margin: 5% 28%;
    text-align: center;
    font-weight: 900;
    font-family: brandon-blk;
}

.footerText h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.footerText h3 {
    margin-bottom: 20px;
    font-size: 17px;
}

.footerForm {
    margin: 0 28%;
}

.footerForm p {
    margin: 5px 0;
    font-size: 25px;
    font-family: brandon-blk;
}

.footerForm input {
    padding: 15px 0px;
    width: 100%;
    margin: 0px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
}

#message {
    padding: 40px 0;
}

.footerForm button {
    width: 100%;
}

#btnForm {
    margin-top: 10px;
    padding: 20px 0;
    width: 100%;
    font-size: 70px;
    border: 0px white;
    box-shadow: 1px 1px 1px 1px grey;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

button {
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 20px 0;
    width: 90%;
    font-size: 30px;
    border: 0px white;
    box-shadow: 1px 1px 1px 1px grey;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    font-family: 'brandon-bld';
}

.musicIconsTitle {
    margin: 20px 0 20px 1%;
    font-family: "brandon-bld";
    font-size: 25px;
}

.musicIconsImg img {
    width: 100%;
}
.slideshow-container-response {
    display: none;
}

.musicIconsText {
    margin-left: 3%;
    margin-top: -4%;
    margin-bottom: 6px;
    font-family: 'brandon-bld';
    font-size: 40px;
}

.musicIconsText h3 {
    margin-bottom: 3px;
    margin-left: 7px;
    font-size: 25px;
}

.findout1 {
    width: 22%;
    position: relative;
    top: -9.8vh;
    left: 78%;
    padding: 10px 0px;
    opacity: 1.0;
    transition: 0.4s;
}

.findout1:hover {
    opacity: 0.5;
}

.findout1 a {
    position: relative;
    top: 2px;
    color: white;
    text-decoration: none;
}

.surfboardsWrap {
    display: flex;
    flex-direction: row;
}

.surfTitle {
    margin: 20px 0 20px 3%;
    font-family: 'brandon-bld';
    font-size: 29px;
    
}

.surfRight {
    width: 73%;
}

.surfLeft {
    width: 27%;
    margin-left: 5%;
}

.surfLeft img {
    width: 65%;
    height: 94.5%;
}

.rightImg img {
    width: 89%;
}
.rightImg2 img {
    width: 89%;
}

.rightText {
    width: 90%;
}

.rightText h1 {
    font-size: 50px;
    margin-bottom: 15px;
    font-family: 'brandon-bld';


}

.rightText p {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
    font-family: 'brandon-blk';
    
}
.rightText2 {
    width: 90%;
}

.rightText2 h1 {
    font-size: 50px;
    margin-bottom: 15px;
    font-family: 'brandon-bld';


}

.rightText2 p {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
    font-family: 'brandon-blk';
    
}


.findout2 {
    width: 30%;
    position: relative;
    top: -63px;
    left: 61.5%;
    padding: 8px 0px;
    opacity: 1.0;
    transition: 0.4s;
}

.findout2:hover {
    opacity: 0.5;
}

.findout2 a {
    position: relative;
    top: 5px;
    color: white;
    text-decoration: none;
}

.socialWrap {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 4%;
}

.socialTitle {
    margin: 20px 0 20px 3%;
    font-family: 'brandon-bld';
    font-size: 27px;
}

.social1,
.social2 {
    width: 28%;
    margin-right: 8%;
}

.social3 {
    width: 28%;
}
.naslovjc {
    display: none;
}
.social1 img {
    width: 100%;
}

.social2 img {
    width: 100%;
}

.social3 img {
    width: 100%;
}

.social1Text1 p {
    font-family: 'brandon-blk';
    font-size: 20px;
    font-style: bold;
    margin-top: -20%;
}

.social1Text2 p {
    font-family: 'brandon-reg';
    font-size: 20px;
}

.social2Text1 {
    font-family: 'brandon-blk';
    font-size: 20px;
    font-style: bold;
    margin-top: -20%;
}

.social2Text2 {
    font-family: 'brandon-reg';
    font-size: 20px;
}

.social3Text1 {
    font-family: 'brandon-blk';
    font-size: 20px;
    font-style: bold;
    margin-top: -20%;
}

.social3Text2 {
    font-family: 'brandon-reg';
    font-size: 20px;
}

.findout3,
.findout4,
.findout5 {
    width: 85%;
    position: relative;
    top: -68px;
    left: 15%;
    padding: 10px 0px;
    opacity: 1.0;
    transition: 0.4s;
}

.findout3:hover,
.findout4:hover,
.findout5:hover {
    opacity: 0.5;
   
}



.slideshow-container {
    width: 100%;
}

.mySlides {
    display: none;
    width: 85%;
    margin-left: 6%;
}

.mySlides img {
    width: 91%;
    height: 100%;
}
.mySlides2 {
    display: none;
    width: 85%;
    margin-left: 6%;
}

.mySlides2 img {
    width: 91%;
    height: 100%;
}


#firstImage {
    display: flex;
    height: 100%;
}

.leftRight {
    position: relative;
    width: 100%;
    margin-top: -16%;
    margin-bottom: 15%;
}

.firstImageRight {
    margin-top: 5%;
    height: 100%;
}

.prev,
.next {
    position: relative;
    cursor: pointer;
    padding: 14px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    margin-left: 86.5%;
    border-radius: 3px 0 0 3px;
    background-color: gray;
    color: white;
    top: -50px;
}

.prev {
    margin-left: 2.2%;
    border-radius: 0 3px 3px 0;
    background-color: gray;
    color: white;
    top: -50px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 0px;
}

.active,
.dot:hover {
    background-color: #000000;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.ifp img {
    width: 80%;
    height: 12%;
    position: relative;
    right: 185%;
    top: 87%;
    
}

.firstImageLeft img {
    width: 140%;
}

.firstImageRight img {
    position: relative;
    width: 140%;
    top: 20%;
    right: 20%;
}

.phoneSlider {
    display: none;
}

.phoneSlider p {
    font-family: 'brandon-blk';
}

.musicIconsWrap {
    display: block;
    width: 100%;
}

.musicIconsImages {
    width: 100%;
    margin-bottom: 3%;
}

.musicIconsImages img {
    width: 100%;
}

.musicIconsImages h1 {
    font-size: 45px;
    margin-left: 1%;
    font-family: brandon-bld;
}

.musicIconsImages p {
    margin: 15px 1%;
    font-size: 25px;
    font-weight: 600;
    font-family: brandon-med;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 1200px) {
    .NB_css ul li a {
        font-size: 20px;
    }
    .NB_css ul li {
        float: left;
        margin-right: 2%;
        margin-top: 10px;
        margin-left: 5%;
    }
    .logo_header img {
        width: 270px;
    }
    .surfLeft img {
        width: 75%;
        height: 95%;
    }
    .findout1 {
        top: -61px;
    }
    .findout2 {
        top: -54px;
    }
    .findout3,
    .findout4,
    .findout5 {
        top: -58px;
        ;
    }
    
    
}

@media only screen and (max-width: 1107px) {
    #timeHeader {
        display: none;
    }
    .findout1 {
        position: relative;
        top: -90px;
    }
    
}

@media only screen and (max-width: 1060px) {
    .NB_css ul li a {
        font-size: 20px;
    }
    .NB_css ul li {
        float: left;
        margin-right: 1%;
        margin-top: 5px;
    }
    .logo_header img {
        width: 250px;
    }
    .musicIconsText {
        font-size: 18px;
    }
    .findout1 {
        top: -58px;
    }
    .findout2 {
        top: -49px;
    }
    .surfLeft img {
        width: 86%;
    }
    .findout1 {
        top: -56px;
    }
    .findout2 {
        top: -49.5px;
    }
    .findout3,
    .findout4,
    .findout5 {
        top: -54px;
        font-size: 19px;
    }
}

@media only screen and (max-width: 1000px) {
    #nbCourses {
        padding-right: 0%;
    }
    .headerLogo img {
        width: 100%;
        padding-left: 10px;
    }
    .headerLogo {
        padding: 2%;
        margin-right: 0%;
    }
    .surfLeft img {
        width: 92%;
    }
    .findout1 {
        top: -54px;
    }
    .findout2 {
        top: -48px;
    }
    .findout3,
    .findout4,
    .findout5 {
        top: -52px;
        font-size: 19px;
    }
}

@media (max-width: 950px) {
    
    .NB_css {
        display: none;
    }
    #headerNB {
        height: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
    .header_response img {
        width: 250px;
        position: absolute;
        margin-left: 6%;
    }
    .logo {
        padding-top: 10px;
    }
    .buttonsHeader {
        display: none;
    }
    .logo_header {
        display: none;
    }
    .linija_header_response {
        height: 80px;
        display: block;
        background-color: white;
    }
    .linija_header_response h2 {
        color: white;
        margin-left: 2%;
        padding-top: 15px;
    }
    .NB_css_response {
        display: none;
        width: 100%;
        background-color: white;
        color: black;
        height: 50px;
        /* opacity: 0.99; */
        z-index: 1000;
        position: relative;
    }
    .NB_css_response ul {
        width: 65%;
        display: flex;
        top: -30px;
        position: absolute;
        padding: 0;
        margin-left: 7%;
    }
    .NB_css_response ul li {
        list-style: none;
        text-align: center;
        margin-left: 0%;
        padding-top: 30px;
    }
    .NB_css_response ul li a {
        font-size: 20px;
        text-decoration: none;
        color: black;
        padding: 15px;
    }
    .NB_css_response ul li a:hover {
        color: white;
        background-color: black;
        transition: 0.4s;
    }
    .logo_header img {
        width: 50px;
        left: 10%;
        top: 4px;
        position: absolute;
    }
    .header_response {
        display: block;
        background-color: rgb(0, 0, 0, 0.6);
        position: relative;
    }
    .fa_bars {
        position: absolute;
        right: 30%;
    }
    .fa_bars img {
        width: 52px;
        margin-top: 15px;
    }
    .findout3,
    .findout4,
    .findout5 {
        top: -200px;
    }
    .prev {
        left: -10px;
    }
    
}

@media only screen and (max-width: 880px) {
    .NB_css_response ul li a {
        font-size: 20px;
        text-decoration: none;
        color: black;
        padding: 15px;
        font-family: 'brandon-blk';
    }
    .rightText h1 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .rightText p {
        font-size: 13px;
        margin-bottom: 25px;
    }
    .rightText2 h1 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .rightText2 p {
        font-size: 13px;
        margin-bottom: 25px;
    }
    .surfTitle {
        font-size: 18px;
    }
    .rightImg img {
        width: 89%;
    }
    .rightImg2 img {
        width: 89%;
    }
    .rightText {
        width: 90%;
    }
    .rightText2 {
        width: 90%;
    }
    .surfRight {
        margin-left: 10%;
        width: 100%;
    }
    .surfLeft {
        display: none;
    }
    .socialTitle {
        font-size: 18px;
    }
    .findout1 {
        top: -50px;
    }
    .findout2 {
        top: -52px;
    }
    .findout3,
    .findout4,
    .findout5 {
        top: -47.5px;
    }
    
    .musicIconsText {
        margin-top: -40px;
    }
    .musicIconsText h3 {
        font-size: 17px;
    }
    .prev,
    .next {
        position: relative;
        cursor: pointer;
        padding: 10px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        top: -40px;
    }
    .prev {
        border-radius: 0 3px 3px 0;
    }
    .next {
        border-radius: 3px 0 0 3px;
    }
}

@media only screen and (max-width: 800px) {
    .musicIconsText h3 {
        font-size: 14px;
    }
    .findout1 {
        top: -47px;
    }
    .findout2 {
        top: -48.5px;
    }
    .findout3,
    .findout4,
    .findout5 {
        top: -45px;
    }
    .footerForm {
        margin-left: 15%;
        margin-right: 15%;
    }
    #btnForm {
        font-size: 40px;
    }
    .musicIconsTitle {
        font-family: "brandon-bld";
        font-size: 17px;
    }
    .musicIconsImages h1 {
        font-size: 20px;
    }
    .footerText h1 {
        font-size: 20px;
        margin-bottom: 14px;
    }
    .footerText h3 {
        font-size: 14px;
    }
    .rightImg img {
        width: 89%;
    }
    .rightImg2 img {
        width: 89%;
    }
    
    .rightText {
        width: 90%;
    }
    .rightText2 {
        width: 90%;
    }
    .surfRight {
        margin-left: 10%;
        width: 100%;
    }
    .surfLeft {
        display: none;
    }
    .leftRight {
        position: relative;
        width: 100%;
        margin-top: -19%;
        margin-bottom: 19%;
    }
    .findout3,
    .findout4,
    .findout5 {
        top: -44px;
    }
    .prev,
    .next {
        cursor: pointer;
        padding: 10px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        top: -14px;
    }
    .prev {
        left: -10px;
        border-radius: 0 3px 3px 0;
    }
    .next {
        border-radius: 3px 0 0 3px;
    }
}

.surfimg2 img {
    width: 100%;
}

.surfimg2 h1 {
    font-family: 'brandon-bld';
    font-size: 50px;
    margin: 2% 1%;
}

.surfimg2 p {
    font-family: 'brandon-bld';
    font-size: 25px;
    margin: 2% 1%;
}


@media only screen and (max-width: 673px) {
    .musicIconsText {
        font-size: 10px;
    }
    .findout1 {
        top: -47px;
    }
    .findout3,
    .findout4,
    .findout5 {
        top: -100px;
    }
    #btnForm {
        font-size: 30px;
    }
    .musicIconsText h3 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 560px) {
    #headerNB {
        margin-bottom: 0;
        margin-top: 0;
    }
    .findout1 {
        top: -47px;
    }
    .findout2 {
        position: relative;
        top: -46.5px;
    }
    .surfTitle {
        font-size: 13px;
    }
    
    .slideshow-container-response{
        display: block;
        width: 100%;
      
    }
    .leftRight {
        position: absolute;
        width: 100%;
       
        margin-bottom: 100px;
    }
    .rightText h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .rightText p {
        font-size: 11px;
        margin-bottom: 25px;
    }
    .NB_css_response ul li a {
        font-size: 15px;
    }
    .socialTitle {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .socialWrap {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 12%;
    }
    .social1,
    .social2 {
        width: 100%;
        margin-right: 0%;
    }
    .social3 {
        width: 100%;
    }
   
    .social1 img {
        width: 150%;
    }
    .social2 img {
        width: 150%;
    }
    .social3 img {
        width: 150%;
    }
    .social1Text1 {
        margin-top: -56px;
    }
    .social1Text2 {
        margin-bottom: 10px;
        
    }
    .social2Text1 {
        margin-top: -56px;
    }
    .social2Text2 {
        margin-bottom: 10px;
    }
    .social3Text1 {
        margin-top: -56px;
    }
    .social3Text2 {
        margin-bottom: 10px;
    }
    .findout3,
    .findout4,
    .findout5 {
        width: 85%;
        position: relative;
        top: 30px;
        left: 22.5%;
        padding: 10px 0px;
        opacity: 1;
        
    }
    
    .musicIconsImages {
        display: block;
    }
    .musicIconsTitle {
        margin: 20px 0 20px 1%;
        font-family: "brandon-bld";
        font-size: 14px;
    }
    
    .musicIconsImages p {
        font-size: 16px;
        margin-bottom: 50px;
        margin-top: 1%;
    }
    .fa_bars {
        position: absolute;
        right: 26%;
    }
    .fa_bars img {
        width: 40px;
        margin-top: 16px;
    } 
    .prev,
    .next {
        cursor: pointer;
        padding: 3px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        top: -22px;
    }
   .naslovjc {
       display: none;
       margin-top: 10px;
       margin-bottom: 10px;
       font-family: "brandon-bld";
       font-size: 22px;
       width: 100%;
       }
    .prevM {
        display: none;
        position: relative;
        right: -400px;
        overflow:hidden;
        width: 25px;
        cursor: pointer;
        padding: 3px;
        width:80px;
        transform: rotate(180deg);
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        top: -370px;

    }
    
    
    .nextM {
        display: none;
        position: relative;
        width: 84px;
        top: -280px;
        cursor: pointer;
        padding: 3px;
        transform: rotate(180deg);
        left: 10px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
       
    }
    .nextM img {
        width: 95px;
    }
    .prevM img {
        width: 95px;
    }
    .prev {
        left: 1px;
        border-radius: 0 3px 3px 0;
    }
    .next {
        right: -14px;
        border-radius: 3px 0 0 3px;
    }
    .footerForm {
        margin-left: 15%;
        margin-right: 29%;
    }
    .footerForm p {
        margin: 5px 0;
        font-size: 16px;
    }
    .footerForm input {
        padding: 7px 0px;
        width: 125%;
    }
    .footerForm button {
        width: 125%;
    }
   .mySlides {
       display: none;
       width: 100%;
       margin-left: 0%;
       margin-right: 0%;
   }
   .mySlides img {
       display: none;
   }
  
  
  .mySlides2 {
    display: none;
    margin-left: 6%;
    width: 86.5%;
    height: 100%;
}

}


@media only screen and (max-width: 770px) {
    #nbCourses {
        padding-right: 0%;
    }
    #phoneHeader {
        display: none;
    }
    #hamburgerNb {
        display: block;
        width: 10%;
        height: auto;
        margin-left: auto;
        margin-right: 5%;
    }
    #timeHeader {
        display: none;
    }
    .headerLogo {
        width: 100%;
    }
    .headerLogo img {
        width: 100%;
        padding-left: 10px;
    }
    .findout3,
    .findout4,
    .findout5 {
        top: -44px;
    }
}

@media only screen and (max-width: 448px) {
    .NB_css_response ul li {
        width: 50%;
        margin-right: 0;
    }
    .NB_css_response ul {
        margin-left: 3%;
    }
    .NB_css_response ul li a {
        font-size: 14px;
    }
    .fa_bars {
        position: absolute;
        right: 16%;
    }
    .fa_bars img {
        width: 35px;
        margin-top: 16px;
    }
    .musicIconsText {
        font-size: 17px;
    }
    
    .findout1 {
     
        top: -46.5px;
       
    }
    .rightText p {
        color: #585858;
    }
    .rightText h1 {
        color: #585858;
    }
    .footerText {
        margin: 0 12%;
        text-align: center;
        font-weight: 900;
        color: #585858;
    }
    .footerText h1 {
        margin-top: 10%;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .footerText h3 {
        font-size: 13px;
    }
    .footerForm {
        margin-left: 3%;
        margin-right: 8%;
    }
    .findout1 a 
    .footerForm p {
        margin: 5px 0;
        font-size: 16px;
    }
    .footerForm input {
        padding: 7px 0px;
        width: 105%;
    }
    .footerForm button {
        width: 80%;
        margin-left: 12%;
        margin-top: 25px;
    }
    #message {
        padding: 40px 0;
    }
    #btnForm {
        margin-top: 8px;
        padding: 15px 0;
        font-size: 30px;
    }
    .findout2 {
        top: -47px;
        
        
    }
    
    .findout3,
    .findout4,
    .findout5 {
        position: relative;
        top: -59px;
    }
    .surfTitle {
        font-size: 15px;
        font-family: "brandon-bld";
        color: #585858;
    }
    .rightText h1 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .rightText p {
        font-size: 11px;
        margin-bottom: 25px;
    }
    .musicIconsText h3 {
        margin-bottom: 3px;
        margin-left: 7px;
        font-size: 12px;
        font-family: 'brandon-bld';
    }
    .musicIconsTitle {
        margin: 20px 0 20px 1%;
        font-family: "brandon-bld";
        font-size: 17px;
    }
    .social1Text1 p,
    .social2Text1 p,
    .social3Text1 p {
        margin-top: -27%;
        font-size: 22px;
    }
    .social1Text2 p,
    .social2Text2 p,
    .social3Text2 p {
        font-size: 21px;
        margin-bottom: 3%;
        width: 290px;
    }
    .phoneImages {
        display: block;
    }
    .phoneImages p {
        font-family: 'brandon-bld';
    }
    .phoneImages h1 {
        font-family: 'brandon-blk';
    }
    .surfimg2 h1 {
        font-family: 'brandon-bld';
        margin-left: 10%;
        font-size: 18px;
        margin-top: 7%;
    }
    .surfimg2 p {
        font-family: 'brandon-blk';
        font-size: 10px;
    }
   .musicIconsImages {
       display: none;
   }
   .prevM img {
       width: 100%;
   }
   .nextM img {
       width: 100%;
   }
   
    .prevM {
        display: block;
      position: absolute;
      right: 5px;
      overflow:hidden;
      width: 25px;
      cursor: pointer;
      padding: 3px;
      width:80px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      top: -240px;
    }
    .nextM {
        display: block;
      position: absolute;
      width: 84px;
      top: -240px;
      cursor: pointer;
      padding: 3px;
      left: 5px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    .mySlides {
        display: block;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
   }
   .mySlides img {
       display: block;
    width: 100%;
   }
 .next {
    position: relative;
    right: -9px;
    
}
.prev {
    left: -5px;
}
.naslovjc {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "brandon-bld";
    font-size: 18px;
    width: 97%;
    margin-left: 6px;
    
    }
    .mySlides2 {
 display: none;
 margin-left: 6%;
 width: 87%;
 height: 100%;
   }
   .surfimg2 {
    display: none;
}
.rightImg2 {
    display: none;
}
.rightText2 {
    display: none;
}
}

@media only screen and (max-width: 330px) {
    .NB_css_response ul li a {
        font-size: 8px;
    }
    .findout1 {
        top: -46px;
    }
    .findout2 {
        top: -47px;
    }
    .findout3,
    .findout4,
    .findout5 {
        top: -20px;
    }

    .prevM {
        position: relative;
        right: -230px;
        overflow:hidden;
        
        cursor: pointer;
        padding: 3px;
        width:15px;
        transform: rotate(180deg);
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        top: -100px;
    }
    .nextM {
        position: relative;
        width:15px;
        top: -200px;
        cursor: pointer;
        padding: 3px;
        transform: rotate(180deg);
        left: 10px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    .nextM img {
        width: 70px;
    }
    .prevM img {
        width: 70px;
    }
    .mySlides {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .mySlides img {
        width: 100%;
    }
   
    
    .mySlides2 {
     display: none;
     margin-left: 6%;
     width: 91%;
     height: 100%;
    }
  
}
@media only screen and (max-width: 407px) {
    .NB_css_response ul li a {
        font-size: 12px;
    }
    .naslovjc {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "brandon-bld";
        font-size: 16px;
        width: 97%;
        margin-left: 8px;
        }
        .prevM {
            display: block;
          position: absolute;
          right: 5px;
          overflow:hidden;
          width: 25px;
          cursor: pointer;
          padding: 3px;
          width: 75px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
          top: -220px;
        }
        .nextM {
            display: block;
          position: absolute;
          width: 75px;
          top: -220px;
          cursor: pointer;
          padding: 3px;
          left: 5px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }
}





@media only screen and (max-width: 375px) {
    .NB_css_response ul li a {
        font-size: 10px;
    }
    .prevM {
        position: absolute;
        right: 5px;
        overflow:hidden;
        
        cursor: pointer;
        padding: 3px;
        width:70px;
        transform: rotate(180deg);
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        top: -200px;
    }
    .nextM {
        position: absolute;
        width:70px;
        top: -200px;
        cursor: pointer;
        padding: 3px;
        transform: rotate(180deg);
        left: 5px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
   
    .mySlides {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .mySlides img {
        width: 100%;
    }
   
    .mySlides2 {
     display: none;
     margin-left: 6%;
     width: 85%;
     height: 100%;
    }
    .naslovjc {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "brandon-bld";
        font-size: 15px;
        width: 97%;
        margin-left: 6px;
        }
        .next {
            position: relative;
            right: 5px;
            
        }
    
}


